form{
    display: flex;
    flex-direction: column;
    width: 24%;
    text-align: start;
    margin-left: 43%;
    margin-top: 2%;
}
.form-div{
    background-color: blue;
    width: 24%;
    height: 77px;
    margin-left: 43%;
    color: white;
}
.button-flex{
    margin-left: 43%;
}